---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Well that didn't work</h1>
    <h4>seems like our strings are a little lose</h4>
    <p>
      The page you are looking for doesn't exist. Trust us when we say we know
      how it feels when things go off track. We've taken the <a
        href="https://lpitorah.org/">Initiative</a
      > and put a button below to take you back to the home page. No need to thank
      us. 😉
    </p>
    <button>Get Back on Track</button>
  </body>
</html>
