---
import HTML from "@components/html.astro"
import PictureCarousel from "@components/PictureCarousel.jsx"
---

<HTML>
    <section id="about-video">
        <div>
            <video src=""></video>
        </div>
    </section>
    <section id="about-grid">
        <div><img src="" alt=""></div>
        <div><p></p></div>
        <div><img src="" alt=""></div>
        <div><p></p></div>
    </section>
    <PictureCarousel>
        <img src="" alt="">
    </PictureCarousel>
    <section id="donate-prompt">
        <div>
            <h2>Want To Have A Part<br>In Spreading This Awesome Mitzvah?</h2>
            <button>Donate to Project Tzitzis</button>
            <p>Donations go directly to distributing new tzitzis.<br>And the merit goes to you!</p>
        </div>
    </section>
</HTML>