---
import HTML from "@components/html.astro"
---

<HTML>
    <section id="steps"></section>
    <section id="pic-grid"></section>
    <section id="review"></section>
    <section id="gallery"></section>
</HTML>